- function arraysIdentical(a, b) {
-   var i = a.length;
-   if (i != b.length) return false;
-   while (i--) {
-     if (a[i] !== b[i]) return false;
-   }
-   return true;
- }

- function active_for(path) {
-   if(arraysIdentical(current.path, path)) {
-     return 'active';
-   } else {
-     return '';
-   }
- }

.sidebar
  a.sidebar-item.usertype(
    href="/grades/manage"
    class=active_for(['grades', 'manage'])
    data-type="teacher school_admin system_admin"
  )
    i.fa.fa-fw.fa-trophy.sidebar-icon
    | Pažymiai

  a.sidebar-item.usertype(
    href="/grades/parent"
    class=active_for(['grades', 'parent'])
    data-type="parent"
  )
    i.fa.fa-fw.fa-trophy.sidebar-icon
    | Pažymiai

  a.sidebar-item.usertype(
    href="/grades/student"
    class=active_for(['grades', 'student'])
    data-type="student"
  )
    i.fa.fa-fw.fa-trophy.sidebar-icon
    | Pažymiai

  a.sidebar-item.usertype(
    href="/lessons"
    class=active_for(['lessons', 'index'])
    data-type="teacher school_admin system_admin"
  )
    i.fa.fa-fw.fa-university.sidebar-icon
    | Pamokos

  a.sidebar-item.usertype(
    href="/subjects"
    class=active_for(['subjects', 'index'])
    data-type="teacher school_admin system_admin"
  )
    i.fa.fa-fw.fa-graduation-cap.sidebar-icon
    | Dalykai

  a.sidebar-item.usertype(
    href="#"
    data-type="teacher school_admin system_admin"
  )
    i.fa.fa-fw.fa-line-chart.sidebar-icon
    | Ataskaitos

  a.sidebar-item.usertype(
    href="/users"
    class=active_for(['users', 'index'])
    data-type="school_admin system_admin"
  )
    i.fa.fa-fw.fa-users.sidebar-icon
    | Vartotojai

  a.sidebar-item.usertype(
    href="/forum/"
    class=active_for(['forum', 'index'])
    data-type="parent teacher school_admin system_admin"
  )
    i.fa.fa-fw.fa-comments.sidebar-icon
    | Forumas
