- function tabindex(names, current_name, current_day) {
-   return (names * current_day) + current_name + 1
- }

h1 Pažymiai

.row
  .form-group.col-sm-4
    label(for="form-select") Klasė
    select.form-control#form-select
      - for (var i = 0; i < 12; i++)
        each form_letter in ['A', 'B', 'C']
          option= (i + 1) + form_letter

  .form-group.col-sm-4
    label(for="subject-select") Dalykas
    select.form-control#subject-select
      each subject in subjects
        option= subject

  .form-group.col-sm-4
    label(for="month-select") Mėnuo
    select.form-control#month-select
      each month in months
        option= month

table.table.table-hover
  thead
    tr
      th
      - for (var i = 0; i < 15; i++)
        th.text-right= i * 2 + Math.floor((Math.random() * 2) + 1)

  tbody
    - var names = ['Jonas Jonaitis', 'Petras Petraitis', 'Vardenis Pavardenis']
    - for (var i = 0; i < names.length; i++)
      tr
        td= names[i]
        - for (var j = 0; j < 15; j++)
          td.text-right
            if Math.random() >= 0.98
              i.fa.fa-fw.fa-exclamation.grade-note(
                data-toggle="tooltip"
                data-placement="top"
                title="Pastaba"
              )
            else
              span(
                data-toggle="tooltip"
                data-placement="top"
                title="Rašyti pastabą"
              )
                i.fa.fa-fw.fa-exclamation.grade-note.empty(
                  data-container="body"
                  data-toggle="popover"
                  data-placement="top"
                  data-content="<textarea class=\"form-control\" placeholder=\"Pastaba\" rows=\"5\"></textarea>"
                  data-html=true
                )

            if Math.random() >= 0.8
              input.grade(
                value="#{Math.floor((Math.random() * 6) + 4)}"
                tabindex="#{tabindex(names.length, i, j)}"
              )
            else
              input.grade(value="" tabindex="#{tabindex(names.length, i, j)}")
